.ListElement {
    margin: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: get-in .7s forwards;
}

.ListElement h3 {
    margin-bottom: 30px;
    color: #356de3;
}

.ListElement img {
    width: 100px;
    transition: transform .2s ease-in;
}

.ListElement:hover img {
    transform: scale(1.05);
}

.ListElement p {
    position: relative;
    margin-top: 10px;
    text-align: center;
    background-color: rgb(239 251 255);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    color: #180724;
}


@media (max-width: 800px) {
    .ListElement {
        margin-bottom: 30px;
    }
}


@keyframes get-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
