.Button {
    width: 200px;
    height: 50px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(6deg, #3f51b5 0%, rgb(48 127 255) 100%);
    transition: filter .2s;
}

.Button:hover {
    filter: brightness(110%);
    cursor: pointer;
}