.Mode {
    margin-top: 5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.bgc-box {
    position: relative;
    margin-bottom: 5rem;
    height: 200px;
    width: 350px;
    border-radius: 500px;
    box-shadow: 0 1px 5px #fdbad5;
    background: linear-gradient(0deg, rgba(42, 10, 40, 1) 0%, rgba(33, 59, 135, 1) 33%, rgba(172, 144, 238, 1) 66%, rgba(238, 143, 199, 1) 100%);
    background-size: 100vh 600px;
    background-position-y: 0;
    transition: background-position-y 1s;
}

.overflow-wrapper {
    overflow-y: hidden;
    height: 270px;
}

.animation-wrapper {
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 100px;
}

.mode-box {
    padding: 10px 20px;
    min-width: 100px;
    position: absolute;
    bottom: -30px;
    left: 50%;

    font-family: 'Nanum Pen Script', cursive;
    font-size: 2rem;
    text-align: center;
    color: white;

    border-radius: 20px;

    background-color: rgb(251 158 196);
    z-index: 2;

    transition: background-color 1s;
}

.span {
    color: white;
    text-transform: uppercase;
}

.bgc-box--dark {
    box-shadow: 0 1px 5px #1f56cb;
    background-position-y: -350px;
}

.mode-box--dark {
    background-color: #616e9f;
}