.App {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.circle-wrapper {
  height: 500px;
  width: 500px;
  overflow: hidden;
}

.circle-1 {
  position: absolute;
  bottom: -55%;
  left: -32%;
  height: 1000px;
  width: 1300px;
  border-radius: 100%;
  background: linear-gradient(8deg, rgb(251 158 196) 75%, rgb(255 255 255) 113%);
  z-index: -3;
}

.circle-2 {
  position: absolute;
  bottom: -50%;
  right: -32%;
  height: 1200px;
  width: 1200px;
  border-radius: 100%;
  background: linear-gradient(356deg, rgb(255 62 246) 0%, rgb(255 255 255) 100%);
  opacity: .5;
  z-index: -5;
}