body {
    /*background: linear-gradient(6deg, rgb(224 143 238) 0%, rgba(243, 253, 255, 1) 100%);*/
}

.App {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(6deg, rgb(224 143 238) 0%, rgba(243, 253, 255, 1) 100%);
    z-index: -10;
}

.circle-wrapper {
    height: 500px;
    width: 500px;
    overflow: hidden;
}

.circle-1 {
    position: absolute;
    bottom: -55%;
    left: -32%;
    height: 1000px;
    width: 1300px;
    border-radius: 100%;
    background: linear-gradient(8deg, rgb(251 158 196) 75%, rgb(255 255 255) 113%);
    z-index: -3;
}

.circle-2 {
    position: absolute;
    bottom: -50%;
    right: -32%;
    height: 1200px;
    width: 1200px;
    border-radius: 100%;
    background: linear-gradient(356deg, rgb(255 62 246) 0%, rgb(255 255 255) 100%);
    opacity: .5;
    z-index: -5;
}

.background--dark {
    background: linear-gradient(6deg, rgb(2 3 8) 50%, rgb(5 6 36) 80%);
}

.circle-1--dark {
    background: linear-gradient(8deg, rgb(2 0 30) 70%, rgb(49 27 171) 127%);
}

.circle-2--dark {
    background: linear-gradient(356deg, rgb(14 7 67) 80%, rgb(6 6 14) 100%);
}