.Title {
    position: relative;
    padding: 20px;
    font-size: 1.5rem;
    font-family: 'Nanum Pen Script', cursive;
    color: #94caef;
}

.Title::after {
    content: '';
    position: absolute;
    top: -45rem;
    left: -10rem;
    background: linear-gradient(184deg, rgb(246 230 252) 85%, rgb(209 143 216) 114%);
    height: 50rem;
    width: 98rem;
    transform: rotate(347deg);
    z-index: -1;
}

.Title .span-1 {
    font-weight: 800;
    text-transform: uppercase;
    color: royalblue;
}

.Title .span-2 {

}

.Title .span-3 {

}